* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
button {
  padding: 3px 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
button:hover {
  background-color: #ccc;
  cursor: pointer;
}
hr {
  margin: 10px 0;
}
