/* === 디자인 시스템 === */
:root {
    --primary-color: #6a9dc2;
    --secondary-color: #2683c5;
    --accent-color:#45667c;
    --text-color: #333;
    --bg-color: #f0fdfb;
    --white: #ffffff;
    --border-radius: 10px;
    --padding: 20px;
    --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }